*{
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #ffb8de;
text-decoration: none;
color: #1d1019df;
list-style: none;
}
header{
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 60px 80px;
}
header h2{
    font-size: 30px;
}
.box-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-image {
    height: 55px;
    width: 55px;
}
nav ul{
    display: flex;
    gap: 50px;

}
a:hover {
    color: #eb17ac;
}
.sessao{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.card-home{
    background-color: #eb17ac;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.direcao {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.direcao img{
    width: 300px;
    height: 250px;
    margin-right: 45px;
}
footer {
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
img:hover {
    

}


