/* reset da pagina */
*{
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
color: #1d1019df;
list-style: none;
}
body {
    background-color: #ffb8de;
}
/*configuração do header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 60px 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
header h2{
    font-size: 30px;
}
.box-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-image {
    height: 55px;
    width: 55px;
}
nav ul{
    display: flex;
    gap: 50px;

}
header, .box-logo, .logo, .logo-image, ul, li, .link {
    background-color: #ff007f;

}
.link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: all .5s ease-in-out;

}
.link:hover {
    color: #fff;
    letter-spacing: 3px;

}
/*cofiguração da home*/
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .title {
    width: 800px;
    height: 500px;
    background-color: #eb17ac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    margin-top: 100px;
}
.home .title:hover {
    transform: scale(1.05);
    color: #fff;
    letter-spacing: 5px;

}
/*configuração da pagina sobre*/
.sobre {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

}
/*configuração das skills*/
.skills {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.box-skill {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

}
.skills .box-skill img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    filter: blur(2px);
    border-radius: 10px;

}
.skills .box-skill img:hover {
    transform: scale(1.1);
    filter: blur(0px);

}
/*configuração dos projetos*/
.projetos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.box-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    filter: grayscale(100);
    transition: all .5s ease-in-out;
    cursor: pointer;

}
.card:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    
}
.box-text-card {
    font-size: 25px;
    height: 100%;
    width: 100%;
    border-radius: 20px;

}
.box-text-card h3 {
    color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-text-card h3:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    
}
.projeto-1 {
    background-image: url("./img/projeto01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.projeto-2 {
    background-image: url("./img/projeto02.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.projeto-3 {
    background-image: url("./img/projeto03.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.projeto-4 {
    background-image: url("./img/projeto04.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
/*configuração dos contatos*/
.contato {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}
.box-contatos {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
footer {
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
